# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#git ignore
/PC/ipch
/PC/Debug
/PC/Release
/PC/Project-FW/Debug
/PC/Project-FW/Release
*.sdf

/Mobile/*.sln
/Mobile/*.userprefs
/Mobile/*.csproj
/Mobile/*.pidb
/Mobile/*.unityproj
/Mobile/.DS_Store
/Mobile/Library/FailedAssetImports.txt
/Mobile/Library/cache/
/Mobile/Library/previews/
/Mobile/Library/ScriptAssemblies
/Mobile/obj
/Mobile/Temp
